:root{
  --pri-color:#00A9FF;
  --sec-color:#124878;
  --t-color:#A0E9FF;
  --f-color:#CDF5FD;
}
.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  transition: transform 0.3s;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid #ddd;
}

.skill-icon:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2.5rem;
  color: #3498db;
}

.skill-name {
  font-size: 0.9rem;
  color: #000000;
}